/*
Custom Css
*/

.carousel-inner img {
    width: 80%;
    height: 500px;
    object-fit: cover;
}

#templatemo_nav_top {
    background-color: #CA96D9 !important;
}

.bg-ale-color {
    background-color: #CA96D9 !important;
}

.text-decoration-none {
    color: black !important;
}

.btn-ale-color {
    background-color: #CA96D9 !important;
}

.text-ale-color {   
    color: #CA96D9 !important;
}

#title_ale {
    color: purple;
    font-size: 36px !important;
    display: inline;
    font-family: fantasy;
}

#title_beauty {
    color: rgb(172, 114, 226);
    font-size: 36px !important;
    display: inline;
    font-family: fantasy;
}

.bg-pie {
    background-color: #CA96D9;
}

.etiqueta_categorias img {
    width: 50%;
    height: 400px;
    object-fit: cover;
}